.container {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../../assets/images/svg/background.svg");
  background-repeat: no-repeat;
  background-size: cover;

  main {
    height: 100%;
    width: 70%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;

    h1 {
      font-size: 60px;
      font-weight: 500;
    }

    span {
      font-size: 20px;
    }
  }

  aside {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    .card {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 1rem;
      gap: 1rem;
      width: -webkit-fill-available;
      color: #fff;
      box-shadow: 0px 6px 20px -7px #254336;

      span {
        font-size: 21px;
        font-weight: 500;
        text-align: center;
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

input::placeholder {
  color: #ffffffb0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 1rem;

    main {
      align-items: center;
      justify-content: flex-end;
      height: 50%;
    }

    aside {
      justify-content: flex-start;
      width: 100%;
    }
  }
}
