<div class="container">
  <main>
    <h1>Welcome.</h1>
    <span>App for Manage Employees</span>
  </main>
  <aside>
    <form class="card" [formGroup]="loginForm">
      <span>Login</span>
      <section>
        <label for="userName">Username</label>
        <input
          class="input-form white"
          type="text"
          name="userName"
          placeholder="Username"
          formControlName="userName"
        />
      </section>
      <section>
        <label for="password">Password</label>
        <input
          class="input-form white"
          type="password"
          name="password"
          placeholder="*******"
          formControlName="password"
        />
      </section>

      <button class="buttons white" (click)="onClickLogin()">Login</button>
    </form>
  </aside>
</div>
