.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  main {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% - 70%);

      span {
        font-size: 8rem;
        color: var(--black-color);
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: calc(100% - 30%);

      .items {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .item {
          width: 100%;
          p {
            font-size: 12px;
            margin: 0;
          }

          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    main {
      flex-direction: column;
      align-items: center;

      aside {
        width: 100%;
      }

      section {
        width: 100%;

        .items {
          flex-direction: column;
        }
      }
    }
  }
}
