<div class="container">
  <header class="text">Employee Detail</header>
  <main *ngFor="let item of employees">
    <aside>
      <span class="material-symbols-outlined">account_circle</span>
      <h3>{{ item.firstName }} {{ item.lastName }}</h3>
    </aside>
    <section>
      <div class="items">
        <div class="item">
          <p>First Name</p>
          <span>{{ item.firstName }}</span>
        </div>
        <div class="item">
          <p>Last Name</p>
          <span>{{ item.lastName }}</span>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <p>Email</p>
          <span>{{ item.email }}</span>
        </div>
        <div class="item">
          <p>Birth Date</p>
          <span>{{ item.birthDate }}</span>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <p>Basic Salary</p>
          <span>{{ item.basicSalary | currency }}</span>
        </div>
        <div class="item">
          <p>Group</p>
          <span>{{ item.group }}</span>
        </div>
      </div>
      <button mat-flat-button color="primary" (click)="onCloseDetail()">Ok</button>
    </section>
  </main>
</div>
