.container {
  position: relative;

  .lists {
    position: absolute;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    background: #fff;
    z-index: 10;
    box-shadow: -8px 10px 22px 4px #eee !important;
    border-radius: 0.7rem;
    height: auto;
    max-height: 10rem;
    overflow: auto;
  }
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  width: auto !important;
}

::ng-deep .mat-mdc-form-field-bottom-align::before {
  display: unset !important;
}

