<div class="container">
  <form [formGroup]="forms">
    <mat-form-field
      color="primary"
      appClickOutside
      (clickOutside)="onClickOut()"
    >
      <mat-label>Group</mat-label>
      <input
        (click)="onClickInput()"
        matInput
        type="text"
        placeholder="Group"
        (keyup)="onFilterData()"
        [(ngModel)]="groupName"
        formControlName="groupName"
      />
    </mat-form-field>
  </form>

  <div class="lists" [ngStyle]="{ display: isActive ? 'flex' : 'none' }">
    <ng-container *ngFor="let item of filteredGroups">
      <p (click)="onClickGroup(item)" (keypress)="onKeyPress()">
        {{ item.groupName }}
      </p>
    </ng-container>
  </div>
</div>
