.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  aside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-form-field {
      width: 50%;
    }
  }

  .table-wrapper {
    overflow: auto;
    table {
      .mat-mdc-header-row {
        background-color: #eee;
      }

      .first-col {
        border-radius: 0.5rem 0 0 0.5rem;
      }

      .last-col {
        border-radius: 0 0.5rem 0.5rem 0;
      }

      .mat-mdc-row:nth-child(even) {
        background-color: #faf7f7ab;
      }

      .mat-mdc-cell {
        border: unset;
      }

      .action {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #585757e0;

        span {
          padding: 0.4rem;
          border-radius: 2rem;
          cursor: pointer;

          &:hover {
            background-color: #eee;
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    gap: 1rem;
    section {
      flex-direction: column;
      gap: 1rem;

      mat-form-field {
        width: 100%;
      }
    }

    aside {
      button {
        width: 100%;
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-bottom-align::before {
  display: unset !important;
}
