<div class="container">
  <section>
    <span class="text">Employee List</span>
    <mat-form-field color="primary">
      <mat-label>Search...</mat-label>
      <input
        matInput
        type="text"
        [value]="searchVal"
        (keyup)="onFilterData($event)"
        placeholder="Ex. Tong"
      />
    </mat-form-field>
  </section>
  <aside>
    <button mat-raised-button color="primary" (click)="onClickCreateUpdate()">
      Add Employee
    </button>
  </aside>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <th
          class="first-col"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="firstName"
        >
          Employee Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstName }} {{ element.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
        <td mat-cell *matCellDef="let element">{{ element.group }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ getEmployeeStatus(element.status) }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="last-col" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="action">
            <span
              class="material-symbols-outlined"
              (click)="onClickDetail(element.employeeId)"
              (keypress)="onKeyPress()"
              >visibility</span
            >
            <span
              class="material-symbols-outlined"
              (click)="onClickCreateUpdate(element.employeeId)"
              (keypress)="onKeyPress()"
              >edit</span
            >
            <span
              class="material-symbols-outlined"
              (click)="onClickDelete(element.employeeId)"
              (keypress)="onKeyPress()"
              >delete</span
            >
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
