<div class="container">
  <span>Are you sure want to delete data?</span>
  <aside>
    <button class="buttons cancel" [mat-dialog-close]="false">
      Cancel
    </button>
    <button class="buttons confirm" [mat-dialog-close]="true">Ok</button>
  </aside>
</div>
