.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    font-size: 15px;
  }

  aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}