<mat-toolbar>
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <span class="material-symbols-outlined">{{ getIcon() }}</span>
  </button>
  <span>Employee Management</span>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded' : ''"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <mat-nav-list>
      <div class="menu-list">
        <ng-container *ngFor="let item of sideNavMenus">
          <a
            mat-list-item
            (click)="onNavigateMenu(item.path)"
            [ngClass]="{ active: currentPath == item.path }"
          >
            <span class="menus">
              <span class="material-symbols-outlined">
                {{ item.menuIcon }}
              </span>
              <span *ngIf="!isCollapsed">{{ item.menuName }}</span>
            </span>
          </a>
        </ng-container>
      </div>
      <div class="menu-logout">
        <a mat-list-item (click)="onNavigateMenu('/auth')">
          <span class="menus">
            <span class="material-symbols-outlined"> logout </span>
            <span *ngIf="!isCollapsed">Logout</span>
          </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
