mat-toolbar {
  height: 7dvh;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

  button {
    background-color: transparent;
    border: unset;
    cursor: pointer;
    padding: 0;
    max-width: 0;
    color: #202020;
  }
}

mat-sidenav-container {
  mat-sidenav {
    box-shadow: -8px 10px 22px 4px #eee !important;
    border: unset !important;
    mat-nav-list {
      display: flex;
      flex-direction: column;
      height: -webkit-fill-available;
      justify-content: space-between;
      padding: 0;
    }
  }

  .menus {
    display: flex;
    gap: 0.5rem;
  }

  mat-sidenav-content {
    height: calc(100dvh - 11dvh);
    padding: 1rem;

    .wrapper {
      padding: 1rem;
      background: #fff;
      border-radius: 0.8rem;
      box-shadow: 0px 1px 20px -10px #eee;
    }
  }
}

.active {
  background-color: #eee;
  color: #0e0e0ed3;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgb(89 88 88 / 30%) !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  mat-sidenav-content {
    height: calc(100dvh - 11dvh);
    padding: 1rem;
  }
}
