<div class="container">
  <header>
    <span class="text">{{ getTitle() }}</span>
  </header>
  <main>
    <form [formGroup]="employeeForms">
      <div class="items">
        <mat-form-field color="primary">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Firstname"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Lastname"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
      <div class="items">
        <mat-form-field color="primary">
          <mat-label>Email address</mat-label>
          <input
            matInput
            type="email"
            placeholder="Ex..@mail.com"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>Select date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [matDatepickerFilter]="filterDate"
            formControlName="birthDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="items">
        <mat-form-field color="primary">
          <mat-label>Salary</mat-label>
          <input
            matInput
            type="number"
            placeholder="1.000.0000"
            formControlName="basicSalary"
          />
        </mat-form-field>
        <app-dropdown-search
          (emitGroupName)="onSetGroupName($event)"
        ></app-dropdown-search>
      </div>
      <div class="items">
        <mat-radio-group
          [value]="selectedValue"
          (change)="onChangeStatus($event)"
          aria-label="Select an option"
        >
          <mat-label>Employee status</mat-label>
          <p>
            <mat-radio-button color="primary" value="1">Active</mat-radio-button>
            <mat-radio-button color="primary" value="0"
              >Inactive</mat-radio-button
            >
          </p>
        </mat-radio-group>
      </div>
      <div class="items end">
        <button mat-stroked-button color="warn" (click)="onClickCancel()">
          Cancel
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          {{ getAction() }}
        </button>
      </div>
    </form>
  </main>
</div>
