.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  main {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .items {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: space-between;
        width: 100%;

        mat-form-field {
          display: flex;
          flex-direction: row;
          width: 100%;

          ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            width: auto !important;
          }
        }

        &.end {
          justify-content: flex-end;
        }

        app-dropdown-search {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    main {
      form {
        .items {
          flex-direction: column;

          input {
            width: auto;
          }

          &.end {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
