/* You can add global styles to this file, and also import other style files */
:root {
  --black-color: #494848;
  --outline-color: #777676;
  --cancel-color: #ff3d3d;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.input-form {
  background-color: transparent;
  border: 1px solid var(--outline-color);
  outline: unset;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &.white {
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    color: #fff;
  }
}

.buttons {
  background-color: transparent;
  outline: unset;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: var(--black-color);
  
  &.confirm {
    border: 1px solid var(--outline-color);
  }
  
  &.cancel {
    border: 1px solid var(--cancel-color);
    color: var(--cancel-color);
  }
  
  &.white {
    border: 1px solid #fff;
    color: #fff;
    padding: 0.7rem 1rem;
  }

  &:hover {
    background-color: #dad3be2b;
    transition: all ease-in 0.3s;
  }
}

.custom-snackbar-edit,
.custom-snackbar-delete {
  .mdc-snackbar__surface {
    border-radius: 0.5rem !important;
    height: 2.3rem !important;
  }
}

.custom-snackbar-edit .mdc-snackbar__surface {
  background-color: #11770a !important;
}

.custom-snackbar-delete .mdc-snackbar__surface {
  background-color: #ff6464 !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0.8rem !important;
}
