<div class="not-found">
  <img src="assets/images/svg/page-not-found.svg" alt="not-found" />
  <p>
    The page you are looking for might have been removed, had its name changed,
    or is temporarily unavailable.
  </p>
  <a href="/auth">Back</a>
</div>
