.not-found {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: url("../../../../assets/images/svg/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1rem;
  text-align: center;

  img {
    width: 15rem;
  }

  p {
    margin: 0;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    padding: 0.7rem 3rem;
    border: 1px solid;
    border-radius: 1rem;
    color: #fff;

    &:hover {
      cursor: pointer;
      background-color: #dad3be4b;
      transition: all ease-in-out 0.3s;
    }
  }
}
